<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncEnumerator" version="4.0.2" targetFramework="net48" />
  <package id="CircularProgressBar" version="2.8.0.16" targetFramework="net48" />
  <package id="Costura.Fody" version="5.7.0" targetFramework="net48" developmentDependency="true" />
  <package id="Crc32.NET" version="1.2.0" targetFramework="net48" />
  <package id="Fody" version="6.6.3" targetFramework="net48" developmentDependency="true" />
  <package id="HTAlt.Standart" version="0.1.7.5" targetFramework="net48" />
  <package id="HTAlt.WinForms" version="0.1.7.5" targetFramework="net48" />
  <package id="Magick.NET.Core" version="12.1.0" targetFramework="net48" />
  <package id="Magick.NET.SystemDrawing" version="6.1.0" targetFramework="net48" />
  <package id="Magick.NET-Q16-AnyCPU" version="12.1.0" targetFramework="net48" />
  <package id="MetadataExtractor" version="2.8.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
  <package id="System.Management" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="7.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" />
  <package id="Tulpep.NotificationWindow" version="1.1.38" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net48" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net48" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net48" />
  <package id="XmpCore" version="6.1.10.1" targetFramework="net48" />
  <package id="ZetaLongPaths" version="1.0.16" targetFramework="net48" />
</packages>